.to-do-wrapper{
  max-width: 860px;
  width: 100%;
  background-color: grey;
  margin: 5rem auto;
  height: 50vh;
  padding: 2rem;
}

.to-do-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.to-do-input{
  margin-top: 2rem;
}

.to-do-button{
  margin-top: 2rem;
  width: 90%;
}
